/* -----Обнуление----- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%; /*Картинки не выходят за пределы родителя */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-size: 14px;
    background-color: #fff;
    color: #4D533C;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

._container {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

/* -----Header----- */
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 24px 0px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
}
.logo {
}
.header__burger {
}
.burger-header {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    padding: 6px;
}


.burger-header__line {
    display: block;
    background-color: #000;
    width: 65%;
    height: 8%;
    margin: 5px;
    transition: 0.3s;
}

.burger-header:hover .burger-header__line {
    background-color: #FFD723;
}


/* -----Hero----- */
.hero {
    background: url('../img/hero-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 189px 0px 211px 0px;
    
}
.hero__container {  
    
}

.hero__content {
    max-width: 616px;
    color: #fff;
}
.hero__subtitle {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0px 0px 22px 0px;
}
.hero__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    margin: 0px 0px 22px 0px;
}
.hero__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    margin: 0px 0px 45px 0px;
}

.link {
    display: inline-block;
    max-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #D4D6D4;
    border-bottom: 1px solid #D4D6D4;
    transition: 0.3s;
}

.link::before {
    display: inline-block;
    content: "";
    border: 5px solid transparent; border-left: 6px solid currentColor;
    padding-right: 3px;

}

.link:hover {
    color: #FFD723;
    border-color: #FFD723;
}



/* -----Services----- */
.services {
    padding: 150px 0px 0px 0px;
}
.services__container {
    
}
.services__title {
    font-weight: 700;
    font-size: 36px;
    max-width: 607px;
    line-height: 46px;
    color: #4D533C;
    margin: 0px 0px 60px 0px;
}
.services__content {
}
.services__list {
    display: flex;
    flex-wrap: wrap;
}
.services__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-services {
    flex: 0 1 22%;
}

.item-services:not(:last-child) {
    margin: 0px 30px 0px 0px;
}


.item-services__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #4D533C;
    max-width: 183px;
    margin: 0px 0px 20px 0px;
}
.item-services__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #21384299;
    margin: 0px 0px 56px 0px;
}
.item-services__link {
    margin: auto 0px 0px 0px;
   
}
.item-services__link_grey {
}

/* -----Get-started----- */
.get-started {
    margin: 224px 0px 0px 0px;
    background-color: #FAFAFA;
}
.get-started__container {
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.get-started__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
    max-width: 822px;
    margin-bottom: 50px;
}
.get-started__link {
    text-transform: uppercase;
}

/* -----Footer----- */
.footer {
    background-color: #4F553D;
}
.footer__container {
}

/* -----Footer-top----- */
.footer__top {
}
.top-footer {
    display: flex;
    justify-content: space-between;
    padding: 120px 0px 0px 0px;
    margin: 0;
    max-width: 452px;
}
.top-footer__item {
    display: flex;
    flex-direction: column;
}

.footer-top__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    margin: 0px 0px 8px 0px;
}
.footer-top__contact {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
}

/* -----Footer-middle----- */
.footer__middle {
    margin: 52px 0px 0px 0px;
    padding: 60px 0px;;
}
.middle-footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #b6c19744;
}
.middle-footer__column {
    flex: 0 1 20%;
}

.middle-footer__column:last-child {
    flex-grow: 1;
}

.middle-footer__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 0px 21px 0px;
}
.middle-footer__list {
}
.footer-list {
}
.footer-list__item {
}
.footer-list__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}
.middle-footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
    margin: 0px 0px 23px 0px;
}
.middle-footer__email {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}
.middle-footer__social {
}
.footer-social {
    display: flex;
    align-items: center;
}
.footer-social__item {
}
.footer-social__link {
    display: block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 24px 11px 0px 0px;
}
.footer-social__link_fb {
    background: url('/img/facebook.svg')
}
.footer-social__link_tw {
    background: url('/img/twitter.svg')
}
.footer-social__link_g {
    background: url('/img/google.svg')
}
.footer-social__link_in {
    background: url('/img/linkedin.svg')
}

/* -----Footer-bottom----- */
.footer__botom {
    margin: 60px 0px 0px 0px;
    padding: 25px 0px 30px 0px;
    border-top: 1px solid #b6c19744;
}
.bottom-footer {
    display: flex;
    justify-content: space-between;
}
.bottom-footer__logo {

}
.bottom-footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B6C197;
}

/* -----Media----- */
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .item-services {
        flex: 0 1 45%;
        max-width: 378px;
    }

    .services__item:nth-child(1),
    .services__item:nth-child(2){
        margin-bottom: 30px;
    }

    .services__item:nth-child(2) {
        margin-right: 0px;
    }


    .services {
        padding-left: 30px;
        padding-right: 30px;
        
    }

    .services__list {
        justify-content: center;
    }

    .services__title {
        max-width: 1000px;
        text-align: center;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .get-started__container {
        text-align: center;
    }

    .middle-footer__column {
        flex: 0 1 50%;
    }

    .top-footer {
        max-width: 82%;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .item-services {
        flex: 0 1 100%;
    }

    .services__list {
        justify-content: center;
    }

    .services__item:nth-child(1),
    .services__item:nth-child(3){
        margin-right: 0px;
    }

    .services__item:nth-child(3) {
        margin-bottom: 30px;
    }

    .hero__title {
        font-size: 50px;
    }

    .get-started__title {
        font-size: 50px;
    }

    .middle-footer__column {
        flex: 0 1 100%;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
    }

    .top-footer {
        flex: 0 1 100%;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        max-width: 100%;
    }

    .footer-social {
        justify-content: center;
    }

}

/* Iphone 5 */
@media (max-width: 320px) {

}